---
layout: default
---

<div class="posts">
	
	
	
 	{% for post in paginator.posts %} 
  
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
			
      <div class="entry">
        {{ post.excerpt }}
      </div>
			
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
	
  {% endfor %}
	
	<div class="paginate-group" style="text-align: center">
		<!-- Pagination links 1 -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.url }}{{ paginator.previous_page_path }}" class="previous"><i class="far fa-arrow-alt-circle-left"></i></a>
			{% else %}
				<span class="previous"><i class="far fa-arrow-alt-circle-left"></i></span>
			{% endif %}
			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
			{% if paginator.next_page %}
				<a href="{{ site.url }}{{ paginator.next_page_path }}" class="next"><i class="far fa-arrow-alt-circle-right"></i></a>
			{% else %}
				<span class="next "><i class="far fa-arrow-alt-circle-right"></i></span>
			{% endif %}
		</div>
		<!-- Pagination links 2 -->
		{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="/bilog{{paginator.previous_page_path }}"><i class="far fa-caret-square-left"></i></a>
			{% else %}
				<span><i class="far fa-caret-square-left"></i></span>
			{% endif %}

			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
					<em>{{ page }}</em>
				{% elsif page == 1 %}
					<a href="/bilog">{{ page }}</a>
				{% else %}
					<a href="/bilog/page{{ page }}">{{ page }}</a>
				{% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<a href="/bilog{{ paginator.next_page_path }}"><i class="far fa-caret-square-right"></i></a>
			{% else %}
				<span><i class="far fa-caret-square-right"></i></span>
			{% endif %}
		</div>
		{% endif %}
	</div>
	
</div>
