<article class="media">
        <figure class="media-left" style="margin-top: 1.4em;">
            <p class="image is-64x64">
                <img id="random-img" src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <form id="comment">
                        <div class="bd-snippet-preview ">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left has-icons-right">
                                            <input class="input is-small" id="name" type="text" placeholder="Name">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-user"></i>
                                              </span>
                                              <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                              </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left has-icons-right">
                                            <input class="input is-small" id="email" type="email" placeholder="Email">
                                            <span class="icon is-small is-left">
                                                   <i class="fas fa-envelope"></i>
                                              </span>
                                            <span class="icon is-small is-right">
                                                <i class="fas fa-check"></i>
                                              </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <textarea id="message" class="textarea is-small" placeholder="Explain how we can help you"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-light" type="submit">
                                                Post comment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    </article>
    <br/>
    <div id="comments-container"></div>
    