---
layout: default
---
<div class="content is-small">
  <section class="section is-small">
  <h2>{{ page.title }}</h2>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <span class="tag is-dark"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}"> {{ tag }}</a></span>
  {% endfor %}
  {% endif %}
  {{ content }}
  <div class="has-text-right">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <br/>

  <!-- Nav tabs -->
  <input type="radio" id="pic" checked name="nav-tab">
  <input type="radio" id="music" name="nav-tab">
  <input type="radio" id="video" name="nav-tab">
  <input type="radio" id="doc" name="nav-tab">
  <input type="radio" id="anonymous" name="nav-tab">
  <div class="tabs" style="font-size:0.75rem;">
    <ul>
      <li style="margin-top: 0 !important;"><label for="pic"><a>Facebook</a></label></li>
      <li style="margin-top: 0 !important;"><label for="music"><a>Github</a></label></li>
      <li style="margin-top: 0 !important;"><label for="video"><a>Google+</a></label></li>
      <li style="margin-top: 0 !important;"><label for="doc"><a>Twitter</a></label></li>
      <li style="margin-top: 0 !important;"><label for="anonymous"><a>Anonymous</a></label></li>
    </ul>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane content-pic">
        <div class="fb-comments" data-href="{{ site.baseurl }}{{ post.url }}" data-width="100%" data-numposts="5"></div>
    </div>
    <div class="tab-pane content-music">
        <script src="https://utteranc.es/client.js"
          repo="trungx/blog-comments"
          branch="master"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
    </div>
    <div class="tab-pane content-video">
        <div id="comments-container"></div>

        <h3>Leave a comment</h3>

        <form id="comment">
          <label for="message">Message</label>
          <textarea id="message"></textarea>
        
          <label for="name">Name</label>
          <input type="text" id="name">
        
          <label for="email">Email</label>
          <input type="text" id="email">
        
          <input type="submit" value="Post Comment">
        </form>
      Comment bằng tài khoản gmail và lưu trữ comment trên firebase
    </div>
    <div class="tab-pane content-doc">
        Comment bằng tài khoản twitter và lưu trữ comment trên twitter
    </div>
    <div class="tab-pane content-anonymous">
        Comment bằng tài khoản anonymous và lưu trữ comment trên bilog
    </div>
  </div>

  </section>
</div>



