---
layout: default
---
<div class="content is-small">
  <section class="section is-small">
  <h2>{{ page.title }}</h2>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <span class="tag is-dark"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}"> {{ tag }}</a></span>
    <!-- <a class="w3-tag w3-blue" style="padding:2px;border-radius: 2px;" href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag"><i class="fas fa-tag"></i>{{ tag }}</a> -->
  {% endfor %}
  {% endif %}
  {{ content }}

  <br/>


<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane content-pic">My Pictures</div>
  <div class="tab-pane content-music">My Music</div>
  <div class="tab-pane content-video">My Videos</div>
  <div class="tab-pane content-doc">My Documents</div>
</div>
  <!-- Nav tabs -->
  <input type="radio" id="pic" checked name="nav-tab">
  <input type="radio" id="music" name="nav-tab">
  <input type="radio" id="video" name="nav-tab">
  <input type="radio" id="doc" name="nav-tab">

  <div class="tabs">
    <ul>
      <li><label for="pic"><a>Github</a></label></li>
      <li><label for="music"><a>Facebook</a></label></li>
      <li><label for="video"><a>Google+</a></label></li>
      <li><label for="doc"><a>Network...</a></label></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane content-pic">
        sfsdfsdf
    </div>
    <div class="tab-pane content-music">
      <div class="fb-comments" data-href="" data-width="100%" data-numposts="5"></div>
    </div>
    <div class="tab-pane content-video">My Videos</div>
    <div class="tab-pane content-doc">My Documents</div>
  </div>
  <script src="https://utteranc.es/client.js"
          repo="trungx/blog-comments"
          branch="master"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
  </section>
  
</div>
<section class="hero is-success">
 
  
  <div class="hero-foot">
  <nav class="tabs is-boxed is-fullwidth is-large">
          <div class="container">
            <ul>
              <li class="tab is-active" onclick="openTab(event,'WebDev')"><a >Web Development</a></li>
              <li class="tab" onclick="openTab(event,'WebAud')"><a >Website Audit</a></li>
              <li class="tab" onclick="openTab(event,'Support')"><a >Support</a></li>
            </ul>
          </div>
        </nav>
    </div>
  </section>
  
  <div class="section">
      <div id="WebDev" class="content-tab" >
        <p>
          test1<br>
        Overview Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div id="WebAud" class="content-tab" style="display:none">
          <p>
            test2<br>
          Details Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div id="Support" class="content-tab" style="display:none">
         <p>
           test3 <br>  
         Specification Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
  </div>
  
      
<!-- <article class="post">
  <h1>{{ page.title }}</h1>
	<span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <span class="tag is-dark"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}"> {{ tag }}</a></span>
    <a class="w3-tag w3-blue" style="padding:2px;border-radius: 2px;" href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag"><i class="fas fa-tag"></i>{{ tag }}</a>
  {% endfor %}
  {% endif %}
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
	
</article> -->


