---
layout: default
---
<div class="content is-small">
  <section class="section is-small">
  <h2>{{ page.title }}</h2>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
    <span class="tag is-dark"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}"> {{ tag }}</a></span>
  {% endfor %}
  {% endif %}
  {{ content }}
  <div class="has-text-right">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <br/>

  <!-- Nav tabs -->
  <input type="radio" id="pic" checked name="nav-tab">
  <input type="radio" id="music" name="nav-tab">
  <input type="radio" id="video" name="nav-tab">
  <input type="radio" id="doc" name="nav-tab">
  <input type="radio" id="anonymous" name="nav-tab">
  <div class="tabs" style="font-size:0.75rem;">
    <ul onclick="commentActiveTab(event)">
      <li style="margin-top: 0 !important;" class="active-tab"><label for="pic"><a>Facebook</a></label></li>
      <li style="margin-top: 0 !important;"><label for="music"><a>Github</a></label></li>
      <li style="margin-top: 0 !important;"><label for="video"><a>Anonymous</a></label></li>
      <li style="margin-top: 0 !important;"><label for="doc"><a>Twitter</a></label></li>
      <li style="margin-top: 0 !important;"><label for="anonymous"><a>Google+</a></label></li>
    </ul>
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane content-pic">
        <div class="fb-comments" data-href="{{ site.baseurl }}{{ post.url }}" data-width="100%" data-numposts="5"></div>
    </div>
    <div class="tab-pane content-music">
        <script src="https://utteranc.es/client.js"
          repo="trungx/blog-comments"
          branch="master"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
    </div>
    <div class="tab-pane content-video">
        

        <h3>Leave a comment</h3>

        <form id="comment">
        <div class="bd-snippet-preview ">
        
          <div class="field is-horizontal">
           
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-small" id="name" type="text" placeholder="Name">
                  <span class="icon is-small is-left">
                    <svg class="svg-inline--fa fa-user fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg><!-- <i class="fas fa-user"></i> -->
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input is-small" id="email" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg><!-- <i class="fas fa-envelope"></i> -->
                  </span>
                  <span class="icon is-small is-right">
                    <svg class="svg-inline--fa fa-check fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg><!-- <i class="fas fa-check"></i> -->
                  </span>
                </p>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
           
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea id="message" class="textarea is-small" placeholder="Explain how we can help you"></textarea>
                </div>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary" type="submit">
                    Post comment
                  </button>
                </div>
              </div>
            </div>
          </div>
          </div>
        </form>
        <br/>
        <br/>
        <div id="comments-container"></div>
     
    </div>
    <div class="tab-pane content-doc">
        Comment bằng tài khoản twitter và lưu trữ comment trên twitter
    </div>
    <div class="tab-pane content-anonymous">
        Comment bằng tài khoản anonymous và lưu trữ comment trên bilog
    </div>
  </div>

  </section>
</div>


<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
		<script>
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyDfSQRPwgyECINkBy385cKC2f0TLP-MsXI",
				authDomain: "bilog-comments.firebaseapp.com",
				databaseURL: "https://bilog-comments.firebaseio.com",
				projectId: "bilog-comments",
				storageBucket: "bilog-comments.appspot.com",
				messagingSenderId: "831809926434"
			};
			firebase.initializeApp(config);
		</script>
    <script type="text/javascript">
      function commentActiveTab(e) {
        var elems = document.querySelector(".active-tab");
        if(elems !==null){
          elems.classList.remove("active-tab");
        }
        e.target.className = "active-tab";
      }

			var rootRef = firebase.database().ref();
			var postComments = rootRef.child('postComments');
			var pathkey = window.location.pathname ;
			var postRef = postComments.child(pathkey);
			$("#comment").submit(function() {
					postRef.push().set({
							name: $("#name").val(),
							message: $("#message").val(),
							md5Email: md5($("#email").val()),
							postedAt: firebase.database.ServerValue.TIMESTAMP
					});
					$("input[type=text], textarea").val("");
					return false;
			});    
			postRef.on("child_added", function(snapshot) {
					var newComment = snapshot.val();
					// var converter = new showdown.Converter({ extensions: ['xssfilter'] });
					//converter.setFlavor('github');
					//var markedMessage = converter.makeHtml(newComment.message);
          let htmlx = `<div class="bd-snippet-preview">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      <img src="https://www.gravatar.com/avatar/${newComment.md5Email}?s=100&d=retro">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>${newComment.name}</strong> <small>@${newComment.name}</small> <small>${jQuery.timeago(newComment.postedAt)}</small>
                        <br>
                        ${newComment.message}
                      </p>
                    </div>
                  </div>
                  <div class="media-right">
                    <button class="delete"></button>
                  </div>
                </article>
          </div>`;
					// var html = "<div class='comment'>";
					// html += "<h4>" + newComment.name + "</h4>";
					// html += "<div class='profile-image'><img src='https://www.gravatar.com/avatar/" + newComment.md5Email + "?s=100&d=retro'/></div>";
					// html += "<span class='date'>" + jQuery.timeago(newComment.postedAt) + "</span>"
					// html += "<p>" + newComment.message  + "</p></div>";
					$("#comments-container").prepend(htmlx);
			});
		</script>
